################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/.vs/.*
/_pycache_/.*
__pycache__/epitope_classifier.cpython-312.pyc
