################################################################################
# This .gitignore file was automatically created by Microsoft(R) Visual Studio.
################################################################################

*.vsidx
/.vs/old/FileContentIndex/954f13eb-be35-4aae-b797-3fba686f8e72.vsidx
/.vs/slnx.sqlite
